@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto:wght@400;500&display=swap');

.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}

li {
  list-style: none;
}

/* you can use this font */
/* font-family: 'Oxygen', sans-serif; */

h2{
  font-family: 'Roboto', sans-serif;
}

.galaryIcon{
  color: #70b5f9;
}
 .videoIcon{
  color:#7fc15e;
  font-size: 2rem;
}
.eventIcon{
  color:#e7a33e;
}
.articleIcon{
  color:#fc9295;
}

/* like icons styling globaly */
.simpleLike{
  color: #70b5f9;
}

.loveLike{
  color: rgb(223, 77, 108);
}
.angry{
  color: red;
}